<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <%rooms.forEach(item=>{%>
            <div style="display: inline-block; margin: 10px">
                <a href=join-room/<%=item._id%>><h1><%=item.name%></h1></a>
                <p>MAX: <%=item.max_gamer_count%></p>
                <p id=count-<%=item._id%>><%=item.current_count%></p>
            </div>
    <%})%>



<script src="/socket.io/socket.io.js"></script>
<script src="/script.js">

</script>
</body>
</html>